.footer {

}

.footer-title {
    text-align: center;
    margin: 0 auto;
    color: #21232D;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 30px;
}
.social-links-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.social-link {

}